---
layout: layout.liquid
title: Interstellar Adventures of Finn
---

<h1>Interstellar Adventures of <strong>Finn</strong> </h1>
<a href="/adventures/">
<button>"Click to read my stories!</button>
</a>
<img class="rocket" alt="rocket" src="/images/rocket.png" width="400" />
