---
layout: layout.liquid
title: Interstellar Adventures of Finn
---

<h1>Interstellar Adventures of <strong>Finn</strong> </h1>
<a href="/adventures/">
<button>Click to read my stories!</button>
</a>
<img class="rocket" alt="rocket" src="/images/rocket.png" />
<h2>Welcome to the digital journal of Finn, the lone human interstellar explorer charting the vast unknown. From the cockpit of his aging starship, Finn documents his solitary travels across distant systems, alien worlds, and the unclaimed void between.</h2>
<h2> Part travel log, part personal journal, <strong>Interstellar Adventures of Finn</strong> invites readers to drift alongside Finn, witnessing the universe through the eyes of a man who may be the last human some worlds will ever meet.</h2>
