 <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About Finn">About</a></li>
      <li><a href="/adventures/" title="Adventures">Adventures</a></li>
      <li><a href="/thoughts/" title "Thoughts">Thoughts</a></li>
    </ul>
  </nav>