body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 450px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(230, 159, 6);
    background: linear-gradient(45deg, rgb(230, 159, 6) 0%, rgb(204, 9, 243) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgb(230, 159, 6) 0%, rgb(204, 9, 243) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    color:rgb(255, 255, 255);
  background: linear-gradient(45deg, rgb(230, 159, 6) 0%, rgb(204, 9, 243) 100%);
  border:white;
  margin:10px;
  padding:-10px;
 font-family: Helvetica, sans-serif;
  font-weight:bold;
  font-size: 25px;
  width:400px;
  height:45px;
  margin-right:22px;
  z-index:1;
}

.rocket {
 padding: auto;
 padding-right: 25px;
 display: block;
margin: 0 auto;
max-height: 90%;
max-width: 90%;
z-index:-1;

}

.about {
    margin-bottom: 30px; 
}

h3 i {
    font-weight:lighter;
    color: rgb(230, 159, 6);
}

